* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

header {
  width: 100%;
}

/* BARRA DE NAVEGACION */
/* Zona de slides*/
.btn-previo {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
}

.btn-siguiente {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
}

.anterior {
  width: 40px;
  height: 40px;
}

.siguiente {
  width: 40px;
  height: 40px;
}

.nosotros {
  margin-top: 30px;
  height: 500px;
}

.row {
  margin-left: 0;
  margin-right: 0;
  height: auto;
}

.izquierda {
  height: 500px;
  background-image: url(imagenes/quienSoy.jpg);
  background-size: cover;
}

.derecha h3 {
  text-align: center;
  font-size: 35px;
}
.derecha p {
  text-align: justify;
  font-size: 28px;
}
.derecha:hover {
  transition: 0.9s;
  background-color: rgba(188, 188, 188, 0.765);
}

.izquierda {
  background-image: url(galeria/quienSoy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*Zona de formulario*/
fieldset {
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border: transparent;
}
fieldset .formulario {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
}

legend {
  text-align: center;
  font-size: 20px;
}

label {
  margin-bottom: 0;
  margin-top: 8px;
}

button {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  transition: transform 200ms, box-shadow 200ms;
}
button:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
}

input, textarea {
  padding: 3px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

/*FIN Zona de formulario*/
.Turnos {
  width: 50%;
}

/* Zona de Pie de Pagina */
footer h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

.GaleCel {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8";
  grid-gap: 10px;
}
.GaleCel .foto {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.GaleCel .ima {
  border-radius: 10px;
}
.GaleCel .ima1 {
  grid-area: img1;
  background-color: aqua;
}
.GaleCel .ima2 {
  grid-area: img2;
  background-color: rgb(89, 255, 0);
}
.GaleCel .ima3 {
  grid-area: img3;
  background-color: rgb(55, 41, 207);
}
.GaleCel .ima4 {
  grid-area: img4;
  background-color: rgb(228, 124, 192);
}
.GaleCel .ima5 {
  grid-area: img5;
  background-color: rgb(255, 0, 25);
}
.GaleCel .ima6 {
  grid-area: img6;
  background-color: rgb(255, 225, 0);
}
.GaleCel .ima7 {
  grid-area: img7;
  background-color: rgb(241, 251, 164);
}
.GaleCel .ima8 {
  grid-area: img8;
  background-color: rgb(75, 84, 84);
}/*# sourceMappingURL=estilos.css.map */